//light mode
$light-text-col:#000;
$light-secondary-col:rgb(51 51 51);
$light-link-col:#0da2b8;
$light-border-col:rgb(218,218,21);
$light-bg-color:rgb(249,250,251);

//dark mode
$dark-text-col:#fff;
$dark-secondary-col:#adb0b1;
$dark-link-col: rgb(30, 190,214) ;
$dark-border-col:#2b3031;
$dark-bg-color:#131415;

//try light mode
$light-link-col:darkorange;
$light-link-col-hover:rgb(150, 86, 7);
$light-text-col:#000;
$light-bg-color:#F2EFDE;
